<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CopyBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StickerAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C71086D71E3874B000D9C3A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71DEB251E60AD1C003ACF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7403E211E269CA00067229E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7403E3A1E269D140067229E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7403F7B1E282A190067229E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7403F891E282A4E0067229E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
